/* Container holding the image and the text */
@font-face {
  font-family: 'hpfont';
 
  src: url("../images/HarryP-MVZ6w.ttf");
}
.container {
    position: relative;
    text-align: center;
    color: gold;
    flex-wrap: wrap;
    font-family: 'hpfont';
    text-align: center;
    line-height: 20px;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
    font-weight: 100;

    


    
    
    
    
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    
    
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 20%;
    left:0%;
    /*transform: translate(-50%, -50%);*/
    margin: 1rem;
    
  }
  body {

    display: flex;
    flex-direction: row;
    min-height: 99vh;
    min-width: 99vw;
    
  
  }
  img {

    
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 33vw;
    object-fit: cover;

    
  }

  body .header,footer{
    height: 1vh;
    display: flex!important;
    
    flex-direction: column;
}

  
  

  
  