



header ul { 

    display: flex;
    flex-direction: row ;
    gap: 25rem;
    width: 100vw;
    height: 6vh;
    padding: none;
    border: none;
    margin: none;
    
    
    
    
    
   
    
    
}

header ul li .top-buttons {

    font-size: 2rem; 
    
    
    
}
.layout {

    display: flex;
    word-wrap: break-word;
white-space: pre-wrap;
word-break: break-word;
 

    
      
    
    
    
}
div .yesterday {

    font-size: 2rem;
    padding: 0;
    border: 1px solid gray;
    height: 13.8%;
    border-radius: 10%;
    
    margin: 0;
    word-wrap: break-word;
white-space: pre-wrap;
word-break: break-word;

}

div .today {

    font-size: 2rem;
    padding: 0;
    border: 1px solid gray;
    height: 13.8%;
    border-radius: 10%;
    display: flex;  
    
    margin: 0;
    word-wrap: break-word;
white-space: pre-wrap;
word-break: break-word;
    
    
    
    
}

div .tomorrow {

    font-size: 2rem;
    padding: 0;
    border: 1px solid gray;
    height: 13.8%;
    border-radius: 10%;
    display: flex;  
    
    margin: 0;
    word-wrap: break-word;white-space: pre-wrap;
    word-break: break-word;
    
    
    
    
     
    
    
    
    
}
.container {    
    
    
    border: solid black 1px;
   
    
    
    width: 33vw;
    height: 100vh;

}
.hellodiv {
    size: 1px;
    display: flex;
    
    flex-direction: row;
    gap: 10%;
    
    
    
    
    

}
button {

    
    padding: 10px;
    
    align-self: flex-end; 
    
  
    
  
  
  
}

.verticalbox {

    display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
    
    
}

.vertical-div1 {  
    
    height: 100vh;
    width: 1px;
    
    
    
   


}



.vertical-div2 {
    height: 100vh;
    width: 1px;
    background-color: black;
    

}





.vertical-div3 {
    height: 100vh;
    width: 1px;
    background-color: black;
    

}
.vertical-div4 {
    height: 100vh;
    width: 1px;
    
    

}




@media screen and (max-width: 375px) {
    div .hellodiv {

        width: 99vw;

        
    }
    .container .yesterday{

        display:none;
    }
    .container .tomorrow {

        display: none;
    }
    div .baryesterday {

        font-size: 2rem;
        padding: 0;
        border: 1px solid gray;
        height: 13.8%;
        border-radius: 10%;
        
        margin: 0;
        word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    background-color: beige;
    display: none;
    }
    div .bartomorrow {

        display: none;
        
        
        
        
         
        
        
        
        
    }

    
    

    div .verticalbox {

        display: none;
    }
    * {

        font-size: 0.4em;
    }
    body ul .top-buttons{

        font-size: 0.1em;
    }

    div .container {

        border: none;
        width: 1vw;
        }

    div .today {

        width: 99vw;
    }













    .vertical-div1 {
        display: none

    }
    .vertical-div2 {
        display: none
        
    }
    .vertical-div3 {
        display: none
        
    }
    .vertical-div4 {
        display: none
        
    }
    header {

        height: 1vh;
        width: 1vw;
    }
    header ul {

        height: 1vh;
        width: 1vw;
    }

    header ul li .firstb{

        height: 1vh;
        width: 1vw;
    }
    header ul li .secondb{

        height: 1vh;
        width: 1vw;
    }
    header ul li .thirdb{

        height: 1vh;
        width: 1vw;
    }
    header ul li .fourthb{

        height: 1vh;
        width: 1vw;
    }
    header ul li .fifthb{

        height: 1vh;
        width: 1vw;
    }
    header {

        display:none;
    }

    

    

    

    



}

@media screen and (max-width: 475px) {
    div .hellodiv {

        width: 99vw;

        
    }
    .container .yesterday{

        display:none;
    }
    .container .tomorrow {

        display: none;
    }
    div .baryesterday {

        font-size: 2rem;
        padding: 0;
        border: 1px solid gray;
        height: 13.8%;
        border-radius: 10%;
        
        margin: 0;
        word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    background-color: beige;
    display: none;
    }
    div .bartomorrow {

        display: none;
        
        
        
        
         
        
        
        
        
    }
    

    div .verticalbox {

        display: none;
    }
    * {

        font-size: 0.6em;
    }
    body ul .top-buttons{

        font-size: 0.1em;
    }

    div .container {

        border: none;
        width: 1vw;
        }

    div .today {

        width: 99vw;
    }













    .vertical-div1 {
        display: none

    }
    .vertical-div2 {
        display: none
        
    }
    .vertical-div3 {
        display: none
        
    }
    .vertical-div4 {
        display: none
        
    }
    header {

        height: 1vh;
        width: 1vw;
    }
    header ul {

        height: 1vh;
        width: 1vw;
    }

    header ul li .firstb{

        height: 1vh;
        width: 1vw;
    }
    header ul li .secondb{

        height: 1vh;
        width: 1vw;
    }
    header ul li .thirdb{

        height: 1vh;
        width: 1vw;
    }
    header ul li .fourthb{

        height: 1vh;
        width: 1vw;
    }
    header ul li .fifthb{

        height: 1vh;
        width: 1vw;
    }
    header {

        display:none;
    }

    

    

    



}

@media screen and (max-width: 425px) {
    
    div .hellodiv {

        width: 99vw;

        
    }
    .container .yesterday{

        display:none;
    }
    .container .tomorrow {

        display: none;
    }
    div .baryesterday {

        font-size: 2rem;
        padding: 0;
        border: 1px solid gray;
        height: 13.8%;
        border-radius: 10%;
        
        margin: 0;
        word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    background-color: beige;
    display: none;
    }
    div .bartomorrow {

        display: none;
        
        
        
        
         
        
        
        
        
    }
    

    div .verticalbox {

        display: none;
    }
    * {

        font-size: 0.5em;
    }
    body ul .top-buttons{

        font-size: 0.1em;
    }

    div .container {

        border: none;
        width: 1vw;
        }

    div .today {

        width: 99vw;
    }













    .vertical-div1 {
        display: none

    }
    .vertical-div2 {
        display: none
        
    }
    .vertical-div3 {
        display: none
        
    }
    .vertical-div4 {
        display: none
        
    }
    header {

        height: 1vh;
        width: 1vw;
    }
    header ul {

        height: 1vh;
        width: 1vw;
    }

    header ul li .firstb{

        height: 1vh;
        width: 1vw;
    }
    header ul li .secondb{

        height: 1vh;
        width: 1vw;
    }
    header ul li .thirdb{

        height: 1vh;
        width: 1vw;
    }
    header ul li .fourthb{

        height: 1vh;
        width: 1vw;
    }
    header ul li .fifthb{

        height: 1vh;
        width: 1vw;
    }
    header {

        display:none;
    }

    

    

    



}

@media screen and (max-width: 1500px) {

    header ul { 

        display: flex;
        flex-direction: row ;
        gap: 25px;
        width: 100vw;
        height: 6vh;
        padding: none;
        border: none;
        margin: none;
        
        
        
        
        
       
        
        
    }

    


}
@media screen and (max-width: 3200px) {


    
    

    
    

    



}





    
    

    






















/* Register - login */


input {

    
    max-width: 75vw;
    max-height: 33vh;
    width: 75vw;
    height: 33vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
  
}
label {
    
    max-width: 75vw;
    max-height: 33vh;
    width: 75vw;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
  

}

#firstimage {
    background-image: url("/src/assets/images/maquette_landing_projet.jpg");
    background-repeat: no-repeat;
    background-size: 80% 100%;

   
}

.closediv {

    bottom: 90%;
    position:fixed;
    margin: 1px;
    padding:1px;
}
#secondimage {
    background-image: url("/src/assets/images/maquette_landing_projet.jpg");
    background-repeat: no-repeat;
    background-size: 80% 100%;

   
}
#thirdimage {
    background-image: url("/src/assets/images/maquette_landing_projet.jpg");
    background-repeat: no-repeat;
    background-size: 80% 100%;
    

   
}






